.pano-window {
  background-color: rgba(0, 0, 0, 0.9);
  height: 380px;
}

.pano-window .search-entry-container {
  padding: 10px;
}

.pano-window .search-entry-icon {
  icon-size: 13px;
  padding: 0 4px;
  color: inherit;
}

.pano-item {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 300px;
  width: 300px;
}

.pano-item:visible:first-child {
  margin-left: 20px;
}
.pano-item:visible:last-child {
  margin-right: 20px;
}

.pano-item:selected {
  box-shadow: 0px -2px 5px 0px rgba(100, 175, 255, 1);
}

.pano-item-header {
  border-radius: 10px 10px 0px 0px;
  height: 80px;
}

.pano-item-header-link {
  background-color: #4361ee;
}

.pano-item-header-text {
  background-color: #238277;
}

.pano-item-header-file {
  background-color: #3a0ca3;
}

.pano-item-header-image {
  background-color: #dc2f02;
}

.pano-item-header-code {
  background-color: #1a1b26;
}

.pano-item-body {
  border-radius: 0px 0px 10px 10px;
  height: 220px;
}

.pano-item-body-code {
  background-color: #2e3440;
}

.pano-item-body-code-content {
  margin: 12px;
  font-size: 13px;
}

.pano-item-body-link {
  padding: 0px;
  background-color: #afbcf7;
}

.pano-item-body-text {
  background-color: #f2dcb1;
}

.pano-item-body-text-content {
  margin: 12px;
  font-size: 13px;
  color: #000;
}

.pano-item-body-image {
  background-color: #f5a794;
}

.pano-item-body-file {
  background-color: #fafafa;
}

.pano-item-body-file-name-label {
  font-size: 13px;
  color: #000;
  font-family: sans;
}

.pano-item-body-file-name-label.has-more {
  font-weight: bold;
}

.pano-item-title-container {
  margin-top: 16px;
}

.pano-item-title {
  font-size: 24px;
  color: white;
}

.pano-icon-container {
  margin-right: 5px;
  margin-left: 5px;
}

.pano-item-date {
  font-size: 12px;
  color: #f7f7f7;
}

.pano-item-body-file .file-icon {
  icon-size: 13px;
  padding: 0 4px;
  color: #000;
}

.copied-files-container {
  margin-right: 10px;
  margin-left: 10px;
}

.pano-item-body-file .copied-file-name {
  margin-bottom: 2px;
}

.copied-file-name.even {
  background-color: #fafafa;
}

.copied-file-name.odd {
  background-color: rgb(216, 216, 216);
}

.pano-item-body-link-meta-container {
  padding: 0px, 12px, 12px, 12px;
}

.pano-item-body-link .link-title-label {
  font-size: 13px;
  color: #000;
  font-weight: bold;
}

.pano-item-body-link .link-description-label {
  font-size: 12px;
  color: #000;
}

.pano-item-body-link .link-label {
  margin-top: 5px;
  font-size: 10px;
  color: #2c2f44;
}

.pano-item-remove-button {
  color: #de4c4a;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 99px;
  padding: 5px;
  margin: 5px;
}

.pano-item-remove-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.pano-item-remove-button:active {
  background-color: rgba(0, 0, 0, 0.9);
}

.pano-item-favorite-button {
  color: #fdd835;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 99px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.pano-item-favorite-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.pano-item-favorite-button:active {
  background-color: rgba(0, 0, 0, 0.9);
}